body{
    background-color: #f5f5f5;
}
.content-productos{
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-productos .card{
    width: 31%!important;
    margin: 20px 10px;
    padding: 10px;
    box-shadow: 0 -6px 20px #00000059;
}

/* para el lateral del dashboard */
.content-left{
    width: 20%;
    padding-bottom: 40px;
}

.content-left ul{
    margin: 0;
    padding: 0;
}

.content-left ul li{
    list-style: none;
    text-align: center;
    border-bottom: 1px solid #f5f5f556;
}

html body .content-rigth{
    width: 80%;
}

html body .content-rigth form{
    box-shadow: 0 -6px 20px #00000059;
}
/* para el lateral del dashboard */

/* login registrate */
html body .login form,
html body .registrate form{
    box-shadow: 0 -6px 20px #00000059;
}
/* login registrate */